<style>
.is-hidden { display: none; }
</style>

<label for="searchbox">Search</label>
<input
  type="search"
  oninput="liveSearch()"
  id="searchbox"
>

<h1>What's New</h1>

<div class="card">
  <div class="card-body">
      <div>Exciting stuff coming very soon!</div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div>Nasty stuff coming very soon!</div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div>Awesome stuff coming very soon!</div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div>Terrible stuff coming very soon!</div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div>Terrific stuff coming very soon!</div>
  </div>
</div>

<script>
  function liveSearch() {
    // Locate the card elements
    let cards = document.querySelectorAll('.card')
    // Locate the search input
    let search_query = document.getElementById("searchbox").value;
    // Loop through the cards
    for (var i = 0; i < cards.length; i++) {
      // If the text is within the card...
      if(cards[i].innerText.toLowerCase()
        // ...and the text matches the search query...
        .includes(search_query.toLowerCase())) {
        // ...remove the `.is-hidden` class.
        cards[i].classList.remove("is-hidden");
      } else {
        // Otherwise, add the class.
        cards[i].classList.add("is-hidden");
      }
    }
  }

  let typingTimer;
  let typeInterval = 500; // Half a second
  let searchInput = document.getElementById('searchbox');

  searchInput.addEventListener('keyup', () => {
    clearTimeout(typingTimer);
    typingTimer = setTimeout(liveSearch, typeInterval);
  });
</script>